*{
	margin: 0;
	padding: 0;
	overflow: hidden;	
}
body{
	background-repeat: no-repeat;
	background-size: 100%;
	text-align: center;
	font-family: "幼圆";
	color: #00bfff;
}
.main{
	position: relative;
	width: 600px;
	height: 700px;
	left: 25%;
	/*background-color: red;*/
}
.content{
	position: relative;
	width: 600px;
	height: 600px;
	/*background: blue;*/
}
.title{
	position: relative;
	top: 20px;
	left: 20px;
}
.title h1{
	font-weight: 800;
	text-shadow: 1px 1px 0px #00bfff;
}
#gap{
	position: relative;
	top: 25px;
	left: -90px;
	margin-left: 0%;
}
#gap img{
	position: relative;
	width: 340px;
	height: 10px;
}
.tit{
	position: relative;
	top: 38px;
	left: 20px;
}
.tit h2{
	text-shadow: 1px 1px 0 #00bfff;
}
.pin{
	position: relative;
	width: 650px;
	height: 200px;
	z-index: 2;
	/*background-color: red;*/
}
.pin p{
	position: relative;
	top: 55px;
	font-size: 25px;
}
.pin span{
	font-size: 18px;
}
.bt{
	position: relative;
	width: 500px;
	height: 500px;
	top: -20px;
	left: 150px;
	clear: both;
}
input{
	position: relative;
	width: 350px;
	height: 45px;
	display: block;
	-webkit-appearance:none;
	appearance:none;
	font-size:1.1em;
	border-radius:8px;
	border:1px solid #00bfff;
	outline: 0;
	color: #00bfff;
	background-color: rgba(	0,191,255,0.3);
}
input::-webkit-input-placeholder{
	color: #00bfff;
}
.tijiao{
	width: 100px;
	left: 120px;
	top: 180px;
	cursor: pointer;
}
.footer{
	position: relative;
	top: 100px;
	left: 25px;
	z-index: 10;
}
