*{
	margin: 0;
	padding: 0;
}
body{
	height: 100%;
	background-color: rgba(45, 226, 135, 0.1);
	font-weight: 400;
	color: #3a2127;
	overflow-y: scroll;
}
h3{
	font-size: 25px;
	font-family: arial;
	font-weight: normal;
}
header,section{
	display: block;
}
a{
	color: #333;
	text-decoration: none;
}
.container{
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}
header{
	position: relative;
	display: block;
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
h1{
	position: relative;
	font-weight: 400;
	font-size: 35px;
	line-height: 35px;
	color: rgba(26,89,120,0.9);
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	padding-bottom: 5px;
}
header h1 span{
	color: #7cbcd6;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.clr{
	clear: both;
}
p.codrops-demos{
	text-align:center;
	display: block;
	padding: 14px;
}
a{
    display: inline-block;
	font-size: 11px;
	font-style: italic;
	width: 60px;
	height: 60px;
	margin: 0px 3px;
	line-height: 60px;
	border-radius: 50%;
	font-weight: 800;
	font-family: arial;
	box-shadow: 1px 1px 1px rgba(0,0,0,0.05) inset;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
	background: rgba(104,171,194,0.5);
}
a:hover{
	background: #4fa2c4;
}
.cr-container{
	width: 600px;
	height: 400px;
	position: relative;
	margin: 0 auto;
	border: 20px solid #eee;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}
.cr-container label{
	width: 150px;
	height: 30px;
	font-size: 24px;
	position: relative;
	font-style: italic;
	cursor: pointer;
	color: #fff;
	margin-top: 350px;
	line-height: 32px;
	float: left;
	z-index: 1000;
}
.cr-container label:before{
	position: absolute;
	content: "";
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: rgba(130,195,217,0.9);
	left: 50%;
	margin-left: -15px;
	box-shadow: 0px 0px 0px 4px rgba(255,255,255,0.3);
	z-index: -1;
}
.cr-container label:after{
	position: absolute;
	content: "";
	width: 1px;
	height: 400px;
	background: -webkit-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(tpo,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(top,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	/*IE滤镜*/
	filter: progid:DXImageTransform.Micosoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=0);
	bottom: -20px;
	right: 0;
}
.cr-container label.cr-label-img-4:after{
	width: 0px;
}
/*按钮点击后的样式*/
.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4{
	color: #68abc2;
}
.cr-container input.cr-selector-img-1:checked ~ label.cr-label-img-1:before,
.cr-container input.cr-selector-img-2:checked ~ label.cr-label-img-2:before,
.cr-container input.cr-selector-img-3:checked ~ label.cr-label-img-3:before,
.cr-container input.cr-selector-img-4:checked ~ label.cr-label-img-4:before{
	background: #fff;
	box-shadow: 0px 0px 0px 4px rgba(104,171,194,0.6);
}
.cr-container input{
	display: none;
}

.cr-bgimg{
	position: absolute;
	width: 600px;
	height: 400px;
	left: 0;
	top: 0;
	z-index: 1;
}
.cr-bgimg{
	background-position: 0,0;
	background-repeat: no-repeat;
}
.cr-bgimg div{
	width: 150px;
	height: 100%;
	position: relative;
	float: left;
	overflow: hidden;
	background-repeat: no-repeat;
}

/*点击按钮更新对应片块的图片*/
.cr-container input.cr-selector-img-1:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(1){
	background-image: url(../images/5.jpg);
}
.cr-container input.cr-selector-img-2:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(2){
	background-image: url(../images/2.jpg);
}
.cr-container input.cr-selector-img-3:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(3){
	background-image: url(../images/3.jpg);
}
.cr-container input.cr-selector-img-4:checked ~ .cr-bgimg,
.cr-bgimg div span:nth-child(4){
	background-image: url(../images/6.jpg);
}
/*每个小片图的初始位置*/
.cr-bgimg div:nth-child(1) span{
	background-position: 0px 0px;
}
.cr-bgimg div:nth-child(2) span{
	background-position: -150px 0px;
}
.cr-bgimg div:nth-child(3) span{
	background-position: -300px 0px;
}
.cr-bgimg div:nth-child(4) span{
	background-position: -450px 0px;
}

@media screen and (max-width: 768px) {
	.cr-container input{
		display: inline;
		width: 24%;
		margin-top: 350px;
		z-index: 1000;
		position: relative;
	}
	.cr-container label{
		display: none;
	}
}